<form [formGroup]="createCategorieForm" (ngSubmit)="onSubmit()">
  <div id="title">
    <h2>Ajout d'une catégorie</h2>
  </div>
  <div id="form">

    <div id="form-Nom">
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="Nom" type="text" placeholder="Nom" required>
        <mat-error *ngIf="createCategorieForm.get('Nom')?.hasError('required')">Le nom est requis</mat-error>
      </mat-form-field>
    </div>

    <div id="form-Image">
      <mat-form-field appearance="fill">
        <mat-label>Image</mat-label>
        <input matInput formControlName="Image" type="text" placeholder="Image" required>
        <mat-error *ngIf="createCategorieForm.get('Image')?.hasError('required')">L'image est requise</mat-error>
      </mat-form-field>
    </div>

    <div id="form-Description">
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput formControlName="Description" type="text" placeholder="Description">
      </mat-form-field>
    </div>

    <mat-radio-group formControlName="Depense" aria-label="Select an option">
      <mat-radio-button [value]="true">Dépense</mat-radio-button>
      <mat-radio-button [value]="false">Revenu</mat-radio-button>
    </mat-radio-group>

    <div id="form-Couleur">
      <mat-form-field appearance="fill">
        <mat-label>Couleur</mat-label>
        <input matInput formControlName="Couleur" type="text" placeholder="Couleur" required>
      </mat-form-field>
    </div>


    <div id="form-button">
      <button mat-raised-button color="primary" type="submit">Créer cette catégorie</button>
    </div>

  </div>
</form>
