form{
  //height: 100%;
  padding-bottom: 25px;
  margin: 0;
  background: var(--main-content-background-color);
  color: var(--main-content-text-color);
}
#title {
  text-align: center;
  margin: 0 0 40px 0;
  padding-top: 20px;
}
#form {
  text-align: center;
  mat-form-field {
    width: 80%;
    margin: 15px 0;
  }
  #form-Revenu-Depense {
    display: flex;
    justify-content: center;
    margin: 15px 0;
  }
  #form-Image {
    display: flex;
    justify-content: center;
    #form-Image-icon {
      margin: 5px 0 0 20px;
    }
  }
}
