<h3>Aide MyBudget</h3>
<mat-list>
  <mat-list-item>
    <span matListItemTitle class="list-item-title">#1 Création des catégorie</span>
  </mat-list-item>
  <p>Vous pouvez créer des catégories de 2 types : Dépense ou Revenu. Pour cela, rendez-vous dans l'onglet "Mes catégories".
    Cliquer sur le bouton "+" et remplissez le formulaire.
    Une fois que vous avez créé toutes vos catégories, vous les retrouverez sur l'onglet "Tableau de bord".</p>
  <mat-list-item>
    <span matListItemTitle class="list-item-title">#2 Tableau de bord</span>
  </mat-list-item>
  <p>
    Sur l'onglet "Tableau de bord", vous retrouverez toutes vos catégories. Dans chacune d'elles, vous pourrez y ajouter des dépenses ou des revenus.
    Vous pourrez également voir le solde de chaque catégorie.
    Par défaut, le tableau de bord affiche le mois en cours. Vous pouvez consulter le mois précédent en cliquant sur le bouton "Mois précédent.
  </p>
  <mat-list-item>
    <span matListItemTitle class="list-item-title">#3 Année complète</span>
  </mat-list-item>
  <p>
    Sur l'onglet "Année complète", vous retrouverez un graphique qui vous permettra de visualiser vos dépenses, ainsi que toutes
    les dépenses et revenus sur l'année en cours.
  </p>
  <mat-list-item>
    <span matListItemTitle class="list-item-title">#4 Ajoutez vos favoris</span>
  </mat-list-item>
  <p>
    Sur l'onglet Favoris, vous pouvez ajouter vos dépenses ou revenus favoris. Cela vous permettra de les ajouter plus rapidement,
    sans avoir à remplir le formulaire à chaque fois. Il vous suffira de cliquer sur "Ajouter tous mes favoris", dans la page Tableau de bord,
    en début de mois.
  </p>
</mat-list>
