mat-card {
  margin: 50px 0 !important;
}
mat-card-content {
  background: var(--card-content-background-color) !important;
  border-radius: 5px !important;
  color: var(--main-content-text-color) !important;
}
#sub-card-content {
  background: var(--card-content-background-color) !important;
  height: 90px;
  #delete-button {
    position: absolute;
    top: 0px;
    right: 2px;
    border-radius: 10px !important;
    button {
      border-radius: 10px !important;
      .mat-icon {
        margin-bottom: 5px;
        color: var(--main-content-text-color) !important;
      }
    }
  }
  #header {
    display: flex;
    #header-icon {
      width: 50px !important;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10%;
      box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
      margin-top: -20px !important;
      .mat-icon {
        width: 30px;
        height: 30px;
        font-size: 30px !important;
      }
    }
    #header-name {
      margin: 10px 15px 0 0;
      width: 75%;
      text-align: center;
      h3 {
        margin-top: 0;
      }

    }
  }
  #footer {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
    #footer-somme {
      font-weight: bold;
    }
  }
  mat-divider {
    margin-top: -15px;
  }
}
