mat-card-content {
  background: var(--card-content-background-color) !important;
  border-radius: 15px !important;
}
#sub-card-content {
  background: var(--card-content-background-color) !important;
  height: 90px;
  #delete-button {
    position: absolute;
    top: 0px;
    right: 2px;
    border-radius: 10px !important;
    button {
      border-radius: 10px !important;
      .mat-icon {
        margin-bottom: 5px;
      }
    }
  }
  #header {
    display: flex;
    //justify-content: space-between;
    #header-icon {
      background-color: var(--main-content-text-color);
      width: 50px !important;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10%;
      margin-top: -20px;
      box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.3);
      .mat-icon {
        color: white;
        width: 25px;
        height: 25px;
        font-size: 25px !important;
        color: var(--main-content-background-color);;
      }
    }
    #header-name {
      margin: 10px 15px 0 0;
      width: 75%;
      text-align: center;
      h3 {
        margin-top: 0;
      }

    }
  }
  #footer {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
    #footer-somme {
      font-weight: bold;
    }
  }
  mat-divider {
    margin-top: -15px;
  }
}
