<mat-card id="card-content" [ngStyle]="{ 'background-color': sousCategorie.Couleur }">
  <mat-card-content >
    <div id="header">
      <div id="header-icon">
        <mat-icon class="mat-icon">{{ sousCategorie.Image }}</mat-icon>
      </div>
      <div id="header-name">
        <h3>{{sousCategorie.Nom}}</h3>
      </div>
    </div>
    <div id="footer">
      <div id="footer-date">
        <p>{{ sousCategorie.Date | date: 'dd/MM/yyyy'}}</p>
      </div>
      <div id="footer-somme">
        <p>{{ sousCategorie.Somme }} €</p>
      </div>
    </div>
    <mat-divider></mat-divider>
  </mat-card-content>
</mat-card>
