<mat-card class="title">
  <mat-card-content>
    Favoris
  </mat-card-content>
</mat-card>

<div class="button-container">
  <button mat-raised-button (click)="openDialogCreateFavori(false)">
    <mat-icon>add_box</mat-icon>
  </button>
</div>

<table mat-table [dataSource]="favoris" class="mat-elevation-z8">

  <ng-container matColumnDef="Nom">
    <th mat-header-cell *matHeaderCellDef>Nom</th>
    <td mat-cell *matCellDef="let favoris">{{favoris.Nom}}</td>
  </ng-container>

  <ng-container matColumnDef="Somme">
    <th mat-header-cell *matHeaderCellDef>Somme</th>
    <td mat-cell *matCellDef="let favoris">{{favoris.Somme}}</td>
  </ng-container>

  <ng-container matColumnDef="Depense" *ngIf="!accountService.isMobile()">
    <th mat-header-cell *matHeaderCellDef>Depense</th>
    <td mat-cell *matCellDef="let favoris">{{favoris.Depense ? 'Oui' : 'Non'}}</td>
  </ng-container>

  <ng-container matColumnDef="Revenu" *ngIf="!accountService.isMobile()">
    <th mat-header-cell *matHeaderCellDef>Revenu</th>
    <td mat-cell *matCellDef="let favoris">{{favoris.Depense ? 'Non' : 'Oui'}}</td>
  </ng-container>

  <ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let favoris">
      <button mat-icon-button (click)="onConfirmDeleteFavori(favoris)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button (click)="openDialogModifyFavori(favoris, true)">
        <mat-icon>build</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="Categorie">
    <th mat-header-cell *matHeaderCellDef>Categorie</th>
    <td mat-cell *matCellDef="let favoris">{{favoris.categorie.Nom}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="Columns"></tr>
  <tr mat-row *matRowDef="let row; columns: Columns;"></tr>
</table>
<section *ngIf="favoris.length==0">
  <div id="empty-favoris">
    <h2>Cliquez sur le bouton ci-dessus pour créer vos premières transactions régulières</h2>
  </div>
</section>
