<mat-card>
  <mat-card-content id="card-content">
    <div id="header">
      <div id="header-icon" [ngStyle]="{ 'background-color': categorie.Couleur }">
        <button [matTooltip]="categorie.Description" [color]="categorie.Couleur" mat-fab aria-label="Example icon button with a home icon" (click)="panelOpenState = !panelOpenState">
          <mat-icon>{{categorie.Image}}</mat-icon>
        </button>
      </div>
<!--      <div id="header-buttons">-->
<!--        <button mat-icon-button (click)="openDialogCreateSousCategorie()"><mat-icon>library_add</mat-icon></button>-->
<!--      </div>-->
      <div id="header-name">
        <h3>{{categorie.Nom}}</h3>
      </div>
      <div id="header-total">
        <h3>{{ totalCategorie }} €</h3>
      </div>
    </div>
    <div id="footer">
      <mat-accordion>
        <mat-expansion-panel [expanded]="panelOpenState" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{panelOpenState ? 'Cacher' : 'Voir'}} les {{ categorie.Depense ? 'dépenses' : 'revenus' }}
              <button mat-icon-button (click)="openDialogCreateSousCategorie()"><mat-icon>add_box</mat-icon></button>
            </mat-panel-title>
          </mat-expansion-panel-header >
          <div class="sous-categorie-container" *ngFor="let sousCategorie of sousCategories; index as i">
            <app-sous-categorie-card (deleteSuccess)="loadSousCategories()" [sousCategorie]="sousCategorie"></app-sous-categorie-card>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card-content>
</mat-card>
