mat-card {
  margin: 50px 20px;
  border-radius: 15px !important;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2) !important;
  background: var(--card-content-background-color) !important;
}
#card-content{
    background: var(--card-content-background-color) !important;
    border-radius: 15px !important;
    color: var(--main-content-text-color) !important;
  #header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    //color: black !important;
    #header-icon {
      background-color: var(--main-content-text-color);
      width: 90px !important;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10%;
      margin-top: -50px;
      box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.3);
      .mat-icon {
        color: white;
        width: 25px;
        height: 25px;
        font-size: 25px !important;
        color: var(--main-content-background-color);
      }
    }
    #header-name {
      text-align: center;
    }
    #header-buttons {
      margin-top: 5px;
    }
  }
  #footer {
    .sous-categorie-container {
      margin: 30px 0;
    }
  }
}
.mat-expansion-panel-body, .mat-expansion-panel-header, .mat-expansion-panel {
  background-color: var(--main-content-background-color) !important;
  mat-panel-title {
    display: flex;
    justify-content: space-between;
  }
  .mat-expansion-panel-header-title {
    color: var(--main-content-text-color) !important;
  }
  &:hover {
    background-color: var(--main-content-background-color) !important;
  }
}



