<div style="height: 80vh;">
  <mat-toolbar class="header">
    <mat-toolbar-row class="menu">
      <div>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span>My Budget</span>
      </div>
      <div fxShow="true" fxHide.lt-md>
        <a routerLink="/" mat-button>Tableau de bord</a>
        <a routerLink="/last-month" mat-button>Mois précedent</a>
        <a routerLink="/full-year" mat-button>Année complète</a>
      </div>
      <div>
        <mat-slide-toggle (change)="onThemeSwitchChange()">{{ isLightTheme ? 'dark' : 'light' }} theme</mat-slide-toggle>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a href="#" mat-list-item>Tableau de bord</a>
        <a href="#" mat-list-item>Mois précedent</a>
        <a href="#" mat-list-item>Année complète</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill class="main">
<!--      <h1>My Budget</h1>-->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
