<mat-card class="title">
  <mat-card-content>
    Année complète
  </mat-card-content>
</mat-card>
<mat-card class="total-card" id="total-epargne">
  <h2>Epargne totale</h2>
  <h4>{{totalEpargne}} €</h4>
</mat-card>

<mat-card class="title">
  <mat-card-content>
    Liste des dépenses
  </mat-card-content>
</mat-card>
<!--<div id="graphique-container" *ngIf="depensesCategories.length > 0">-->
<!--  <mat-card id="graphique-bar">-->
<!--    <canvas id="expenseChart"></canvas>-->
<!--  </mat-card>-->
<!--</div>-->
<mat-card class="total-card" id="total-depenses">
  <h2>Dépenses totales</h2>
  <h4>{{totalDepenses}} €</h4>
</mat-card>
<div *ngIf="depensesCategories.length === 0">Aucune dépense disponible.</div>

<mat-form-field id="sous-categories-filtre">
  <mat-label>Filtre par nom</mat-label>
  <input matInput (keyup)="applyFilterSousCategories($event)" placeholder="Ex. Loyer" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  <ng-container matColumnDef="Image">
    <th mat-header-cell *matHeaderCellDef [class]="accountService.isMobile() ? 'mobile-title-font' : '' ">{{ accountService.isMobile() ? "Catégorie" : "" }}</th>
    <td mat-cell *matCellDef="let sousCategorie"><mat-icon>{{sousCategorie.Image}}</mat-icon></td>
  </ng-container>

  <ng-container matColumnDef="Categorie">
    <th mat-header-cell *matHeaderCellDef>Catégorie</th>
    <td mat-cell *matCellDef="let sousCategorie">{{sousCategorie.categorie.Nom}}</td>
  </ng-container>

  <ng-container matColumnDef="Nom">
    <th mat-header-cell *matHeaderCellDef [class]="accountService.isMobile() ? 'mobile-title-font' : '' ">Nom</th>
    <td mat-cell  *matCellDef="let sousCategorie" [class]="accountService.isMobile() ? 'mobile-font' : '' ">{{sousCategorie.Nom}}</td>
  </ng-container>

  <ng-container matColumnDef="Date">
    <th mat-header-cell *matHeaderCellDef [class]="accountService.isMobile() ? 'mobile-title-font' : '' ">Date</th>
    <td mat-cell *matCellDef="let sousCategorie" [class]="accountService.isMobile() ? 'mobile-font' : '' ">{{sousCategorie.Date | date: 'dd/MM/yyyy'}}</td>
  </ng-container>

  <ng-container matColumnDef="Somme">
    <th mat-header-cell *matHeaderCellDef [class]="accountService.isMobile() ? 'mobile-title-font' : '' ">Somme</th>
    <td mat-cell *matCellDef="let sousCategorie">
      <div class="somme-value" [class]="sousCategorie.Depense ? 'bg-depense' : 'bg-revenu'">
        {{sousCategorie.Somme}}
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="Columns"></tr>
  <tr mat-row *matRowDef="let row; columns: Columns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10]" aria-label="Select page of users"></mat-paginator>
<mat-card class="title">
  <mat-card-content>
    Liste des revenus
  </mat-card-content>
</mat-card>
<mat-card class="total-card" id="total-revenu">
  <h2>Revenu total</h2>
  <h4>{{totalRevenus}} €</h4>
</mat-card>
<table mat-table [dataSource]="sousCategoriesRevenus" class="mat-elevation-z8">

  <ng-container matColumnDef="Categorie">
    <th mat-header-cell *matHeaderCellDef>Catégorie</th>
    <td mat-cell *matCellDef="let sousCategorie">{{sousCategorie.categorie.Nom}}</td>
  </ng-container>

  <ng-container matColumnDef="Nom">
    <th mat-header-cell *matHeaderCellDef [class]="accountService.isMobile() ? 'mobile-title-font' : '' ">Nom</th>
    <td mat-cell  *matCellDef="let sousCategorie" [class]="accountService.isMobile() ? 'mobile-font' : '' ">{{sousCategorie.Nom}}</td>
  </ng-container>

  <ng-container matColumnDef="Image">
    <th mat-header-cell *matHeaderCellDef [class]="accountService.isMobile() ? 'mobile-title-font' : '' ">{{ accountService.isMobile() ? "Catégorie" : "" }}</th>
    <td mat-cell *matCellDef="let sousCategorie"><mat-icon>{{sousCategorie.Image}}</mat-icon></td>
  </ng-container>

  <ng-container matColumnDef="Date">
    <th mat-header-cell *matHeaderCellDef [class]="accountService.isMobile() ? 'mobile-title-font' : '' ">Date</th>
    <td mat-cell *matCellDef="let sousCategorie" [class]="accountService.isMobile() ? 'mobile-font' : '' ">{{sousCategorie.Date | date: 'dd/MM/yyyy'}}</td>
  </ng-container>

  <ng-container matColumnDef="Somme">
    <th mat-header-cell *matHeaderCellDef [class]="accountService.isMobile() ? 'mobile-title-font' : '' ">Somme</th>
    <td mat-cell *matCellDef="let sousCategorie">
      <div class="somme-value" [class]="sousCategorie.Depense ? 'bg-depense' : 'bg-revenu'">
        {{sousCategorie.Somme}}
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="Columns"></tr>
  <tr mat-row *matRowDef="let row; columns: Columns;"></tr>
</table>
