.mat-mdc-header-row, .mdc-data-table__header-row, .cdk-header-row, .ng-star-inserted, .mat-mdc-paginator-container {
  background-color: var(--card-content-background-color) !important;
  color: var(--main-content-text-color) !important;
}
mat-paginator{
  background-color: rgba(234, 232, 232, 0.3) !important;
}
.title {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin: 30px 0 15px 0;
  max-width: 100% !important;
  background-color: var(--card-content-background-color);
  color: var(--main-content-text-color) !important;
}
#graphique {
  #graphique-container {
    display: flex;
    align-items: center;
    #graphique-bar {
      width: 70%;
    }
    #graphique-doughnut {
      width: 30%;
    }
  }

}
