.mat-mdc-header-row, .mdc-data-table__header-row, .cdk-header-row, .ng-star-inserted, .mat-mdc-paginator-container {
  background-color: var(--card-content-background-color) !important;
  color: var(--main-content-text-color) !important;
}
mat-paginator{
  background-color: rgba(234, 232, 232, 0.3) !important;
}
.title {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin: 30px 0 15px 0;
  max-width: 100% !important;
  background-color: var(--card-content-background-color);
  color: var(--main-content-text-color) !important;
}

.total-card {
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  background-color: #34A952;
  h4 {
    font-size: 30px;
  }
}
#total-depenses {
  background-color: #ED4334 !important;
  color: white !important;
}
#total-revenu {
  background-color: #34A952 !important;
  color: white !important;
}
#total-epargne {
  background-color: #FBBC06 !important;
  color: white !important;
}

#graphique-container {
  background-color: transparent !important;
  #graphique-bar {
    width: 100%;
    height: 80%;
    margin: auto 0 15px 0;
    background-color: var(--card-content-background-color);
    #expenseChart {
      width: 100% !important;
      padding: 15px;
    }
  }
  @media (max-width:768px) {
    #graphique-bar{
      width: 100% !important;
      margin: auto 0 15px 0;
      #expenseChart {
        padding: 0;
      }
    }
  }
}
#sous-categories-filtre {
  width: 100%;
  margin-bottom: 10px;
}
.somme-value {
  max-width: 50px;
  height: 20px;
  text-align: center;
  padding: 5px;
  border-radius: 2px;
}


