<form [formGroup]="createSousCategorieForm" (ngSubmit)="onSubmit()">
  <div id="title">
    <h2>Ajout d'une transaction</h2>
  </div>
  <div id="form">

      <div id="form-Nom">
        <mat-form-field appearance="fill">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="Nom" type="text" placeholder="Nom" required>
          <mat-error *ngIf="createSousCategorieForm.get('Nom')?.hasError('required')">Le nom est requis</mat-error>
        </mat-form-field>
      </div>

      <div id="form-date">
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input formControlName="Date" matInput [matDatepicker]="picker" readonly>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker ></mat-datepicker>
        </mat-form-field>
      </div>

      <div id="form-somme">
        <mat-form-field appearance="fill">
          <mat-label>Somme</mat-label>
<!--          <input matInput formControlName="Somme" type="number" placeholder="Somme" required>-->
          <input matInput formControlName="Somme" type="number" placeholder="Somme" pattern="^\d+(\.\d{1,2})?$" required>
          <mat-error *ngIf="createSousCategorieForm.get('Somme')?.hasError('required')">La somme est requise</mat-error>
        </mat-form-field>
      </div>

    <div id="form-button">
      <button mat-raised-button color="primary" type="submit">Valider</button>
    </div>

  </div>
</form>

