form{
  //height: 100%;
  padding-bottom: 65px;
  margin: 0;
  background: var(--main-content-background-color);
  color: var(--main-content-text-color);
}
#title {
  text-align: center;
  margin: 0 0 40px 0;
  padding-top: 20px;
}
#form {
  text-align: center;
  mat-form-field {
    width: 80%;
    margin: 15px 0;
  }
  #form-date-somme {
    display: flex;
    justify-content: center;
    #form-date, #form-somme {
      width: 44%;
    }
  }
}
