<header>
  <div id="title">Mois en cours</div>
  <div id="infos">
    <p>Revenu Total: €</p>
    <p>Dépenses Totales: €</p>
    <p>Epargne possible: €</p>
  </div>
</header>

<section id="main">
  <div id="depenses" class="categorie-container">
    <h2>Dépenses</h2>
    <div *ngFor="let categorie of categories; index as i">
      <app-categorie-card *ngIf="categorie.Depense" [categorie]="categorie"></app-categorie-card>
    </div>
  </div>
  <div id="revenus" class="categorie-container">
    <h2>Revenus</h2>
    <div *ngFor="let categorie of categories; index as i">
      <app-categorie-card *ngIf="categorie.Revenu" [categorie]="categorie"></app-categorie-card>
    </div>
  </div>
</section>
