<header>
  <div id="title">Mois en cours</div>
  <div id="infos">
    <mat-card class="totaux">
      <mat-card-content>Revenu Total: {{ totalRevenu }} €</mat-card-content>
    </mat-card>
    <mat-card class="totaux">
      <mat-card-content>Dépenses Totales: {{ totalDepense }} €</mat-card-content>
    </mat-card>
    <mat-card class="totaux">
      <mat-card-content>Epargne possible: {{ epargnePossible }} €</mat-card-content>
    </mat-card>
  </div>
</header>

<section id="main">
  <div id="depenses" class="categorie-container">
    <h2>Dépenses</h2>
    <div *ngFor="let categorie of categories; index as i">
      <app-categorie-card *ngIf="categorie.Depense" [categorie]="categorie" (totalCategorieChange)="updateTotalCategory($event)"></app-categorie-card>
    </div>
  </div>
  <div id="revenus" class="categorie-container">
    <h2>Revenus</h2>
    <div *ngFor="let categorie of categories; index as i">
      <app-categorie-card *ngIf="!categorie.Depense" [categorie]="categorie" (totalCategorieChange)="updateTotalCategory($event)"></app-categorie-card>
    </div>
  </div>
</section>
