header{
  font-weight: bold;
  #title {
    font-size: 30px;
    text-align: center;
    margin: 30px 0 15px 0;
    max-width: 100% !important;
    position: relative;
    @media (max-width:768px) {
      margin-top: 80px;
    }
    #month-button {
      position: absolute;
      top: 15px;
      left: 10px;
      background-color: var(--button-content-background-color);
      color: var(--button-content-text-color);
      @media (max-width:768px) {
        top: -45px;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
      }
    }
    #fav-button {
      position: absolute;
      top: 15px;
      right: 10px;
      background-color: var(--button-content-background-color);
      color: var(--button-content-text-color);
      --mat-icon-color: #FBBC06;
      @media (max-width:768px) {
        top: -90px;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
      }
    }
  }
  #infos {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    @media (max-width:768px) {
      flex-direction: column;
    }
    .totaux {
      padding: 15px;
      flex: 1;
      background-color: var(--totaux-background-color);
      text-align: center;
      @media (max-width:768px) {
        margin: 10px;
      }
    }
    .totaux-number {
      mat-card-content {
        margin: auto;
        span {
          font-size: 35px;
        }
      }
      text-align: center;
    }
  }
}

.main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  .categorie-container {
    text-align: center;
    width: 100%;
  }
  @media (max-width:768px) {
    display: block;
  }
}

#empty-categories {
  Margin-top: 50px;
  text-align: center;
}
#total-depenses {
  background-color: #ED4334 !important;
  color: white !important;
}
#total-revenu {
  background-color: #34A952 !important;
  color: white !important;
}
#total-epargne {
  background-color: #FBBC06 !important;
  color: white !important;
}

.mat-mdc-tab-group, .mat-mdc-tab-nav-bar{
  --mat-tab-header-inactive-label-text-color: var(--main-content-text-color) !important;
}
